@model buddy_connect.Models.Booking.FareResultsViewModel

@{
    ViewBag.Title = "Booking - Flight Results";
}

<div style="width: 100%">
    <div class="card bg-light mb-3" style="margin-top: 15px;border-radius: 6px">
        <div class="card-header">
            Displaying flights from <strong class="text-info">@Model.OriginCityName</strong> and
            <strong class="text-info">@Model.DestinationCityName</strong> departing
            <strong class="text-info">@Model.DepartureDateTime.ToString("dd-MMM-yyyy ddd")</strong>
        </div>
        <div class="card-body">
            @foreach (var fareGroup in Model.TripAndFareDetails)
            {
                <div class="card text-white bg-secondary mb-3" style="border-radius: 6px">
                    <div class="card-body1">
                        <div class="row card-body">
                            <div class="col-9">
                                @foreach (var tripSlice in fareGroup.TripSlices)
                                {
                                    <div class="row mt-2">
                                        <div class="col-1">
                                            <img style="width: 50px; height:40px" src="https://www.momondo.com/rimg/provider-logos/airlines/v/AS.png?crop=false&width=108&height=92" />
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                @tripSlice.DepartureDate.ToString("HH:mm tt") - @tripSlice.ArrivalDate.ToString("HH:mm tt")
                                            </div>
                                            <div>
                                                Alaska Airlines
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            @(tripSlice.NoOfStops == 0 ? "nonstop" : $"{tripSlice.NoOfStops}stop")
                                        </div>
                                        <div class="col-3">
                                            <div>
                                                @tripSlice.Duration
                                            </div>
                                            <div>
                                                @tripSlice.Origin - @tripSlice.Destination
                                            </div>
                                        </div>
                                        <div class="col-2 text-right">
                                            @if (tripSlice.Segments.Any(x => x.EquipmentType == "332"))
                                            {
                                                <img src="https://www.gstatic.com/flights/app/2x/carry_on_restricted_grey700_24dp.svg" style="width: 30px; height: 30px" />
                                            }
                                            @if (tripSlice.Segments.Any(x => x.EquipmentType != "332"))
                                            {<a tabindex="0" data-toggle="popover" data-trigger="focus" title="Wheel chair not supported" data-content="Aircraft doesn't support wheel chair to be checked-in">
                                                 <img alt="non-accessibile-wheel-chair" 
                                                      src="https://cdn3.iconfinder.com/data/icons/disability-accessibility/100/not-accessible-11-512.png" style="width: 30px; height: 30px" />
                                             </a>
                                                
                                            }
                                        </div>
                                    </div>
                                    if (fareGroup.TripSlices.Count > 1 && fareGroup.TripSlices.Last() != tripSlice)
                                    {
                                        <hr />
                                    }
                                }
                            </div>
                            <div class="col-3" style="border-left: solid 1px wheat">
                                <div class="row" style="height: 100%">
                                    @foreach (var fare in fareGroup.FareDetails)
                                    {
                                        <div class="col-6">
                                            <div>
                                                <strong class="text-info"><u>@fare.CabinType</u></strong>
                                            </div>
                                            <div>
                                                $@fare.DisplayAmount
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-primary mt-2 rounded">Select</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>