@using buddy_connect.Models
@{
	ViewBag.Title = "Profile";
	ProfileViewModel user = Model;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
	.bgProfile {
		background: #000000;
		background: rgba(0, 0, 0, 0.7);
	}

	h3.username {
		color: #ffffff;
		padding: 5px;
	}

	.container {
		max-width: 99.5%;
	}

	.paddingBottom {
		padding-bottom: 35px;
	}

	.colorWhite {
		color: #ffffff;
	}

	.labels {
		font-size: 20px;
	}

	.values {
		font-size: 20px;
	}

	.membership {
		font-size: 25px;
		color: orange;
	}

	.miles {
		font-size: 15px;
		color: rgb(223, 185, 135);
	}

	.form-control[disabled] {
		background-color: rgb(161, 161, 161);
		font-size: 15px;
	}

	.nav-tabs :not(.active) {
		color: #ffffff;
		font-weight: bold;
	}

	.yesQues, .noQues {
		display: none;
	}
</style>

<script>
	var isAssistanceRequired = "@user.IsDisabled";
	$(function() {
		$(":radio[value=YesSpecial]").click(function() {
			$('.yesQues').show();
			$('#splServ').val = "Yes";
			$('#wchrPref').val = "Yes";
			$(":radio[value=inchUnit]").click();
			$('.noQues').hide();
		});

		$(":radio[value=NoSpecial]").click(function() {
			$('.noQues').show();
			$(":radio[value=YesCareTaker]").click();
			$('.yesQues').hide();
		});

		if (isAssistanceRequired === "True") {
			$(":radio[value=YesSpecial]").click();
			$('#splServ').val = "Yes";
			$('#wchrPref').val = "Yes";
			$(":radio[value=inchUnit]").click();

		} else {
			$(":radio[value=NoSpecial]").click();
			$(":radio[value=YesCareTaker]").click();
		}
	});
</script>


<div class="container bgProfile">
	<div class="row">
		<br><br>
	</div>
	<div class="row paddingBottom">
		<div class="col-sm-3">
			<!--left col-->
			<div class="text-center">
				<img src="@ViewBag.Image" style="height: 200px; width: 200px;" class="avatar img-circle img-thumbnail" alt="avatar">
			</div>
			<div class="text-center">
				<br />
				<div class="membership">@user.Membership</div>
				<div class="miles">@user.Miles miles</div>
			</div>




		</div><!--/col-3-->
		<div class="col-sm-9">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#profile">Personal Info</a>
				</li>
				<li>
					<a data-toggle="tab" href="#pref">Travel Preferences</a>
				</li>
				<li>
					<a data-toggle="tab" href="#addressPane">Saved Addresses</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="profile">
					<form class="form colorWhite" action="##" method="post" id="registrationForm">
						<div class="form-group">

							<div class="col-xs-6">
								<label for="first_name">
									<h4>First name</h4>
								</label>
								<input type="text" disabled="disabled" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name" value="@user.FirstName">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name">
									<h4>Gender</h4>
								</label>
								<select class="form-control" id="gender" name="gender">
									<option value="male" selected>Male</option>
									<option value="female">Female</option>
									<option value="unspecified">Unspecified</option>
									<option value="undisclosed">Undisclosed</option>
								</select>
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="middle_name">
									<h4>Middle name</h4>
								</label>
								<input type="text" disabled="disabled" class="form-control" name="middle_name" id="middle_name" placeholder="first name" title="enter your middle name if any." value="@user.MiddleName">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="email">
									<h4>Date of Birth</h4>
								</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email." value="@user.DateOfBirth">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name">
									<h4>Last name</h4>
								</label>
								<input type="text" disabled="disabled" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name" value="@user.LastName">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="suffix">
									<h4>Suffix</h4>
								</label>
								<select class="form-control" id="suffix" name="suffix">
									<option value="Jr" selected>Jr</option>
									<option value="Sr">Sr</option>
									<option value="II">II</option>
								</select>
							</div>
						</div>

						<div class="form-group">

							<div class="col-xs-6">
								<label for="phone">
									<h4>Mobile</h4>
								</label>
								<input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any." value="@user.PhoneNumber">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-6">
								<label for="email">
									<h4>Email</h4>
								</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email." value="@user.Email">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<br>
								<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
							</div>
						</div>
					</form>

					<!--/tab-pane-->
				</div>
				<div class="tab-pane" id="pref">

					<form class="form colorWhite" action="##" method="post" id="registrationForm">
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name">
									<h4>Seat Preference</h4>
								</label>
								<select class="form-control" id="seatpref" name="seatpref">
									<option value="window">Window</option>
									<option value="aisle" selected>Aisle</option>
									<option value="middle">Middle</option>
								</select>
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name">
									<h4>Home Airport</h4>
								</label>
								<input type="text" class="form-control" name="homeAirport" id="homeAirport" placeholder="Home Airport" title="enter your last name if any." value="Honolulu (SEA)">
							</div>
						</div>

						<div class="form-group">

							<div class="col-xs-6">
								<label for="phone">
									<h4>Known traveler Number</h4>
								</label>
								<input type="text" class="form-control" name="ktn" id="ktn" placeholder="Known traveler Number" title="enter your KTN if any">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-6">
								<label for="mobile">
									<h4>Redress Number</h4>
								</label>
								<input type="text" class="form-control" name="Redress Number" id="Redress Number" placeholder="Redress Number" title="enter your Redress Number if any.">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 specialService">
								<br />
								<h4>Do you need any special assistance?</h4>
								<input type="radio" id="YesSpecial" name="special" value="YesSpecial">
								<label for="YesSpecial">Yes</label><br>
								<input type="radio" id="noSpecial" name="special" value="NoSpecial">
								<label for="noSpecial">No</label><br>
							</div>
						</div>
						<div class="yesQues">
							<div class="form-group">

								<div class="col-xs-6">
									<br />
									<label for="splServ">
										<h4><i class="fas fa-wheelchair"></i> Do you need Wheel chair assistance?</h4>
									</label>
									<select class="form-control" id="splServ" name="splServ">
										<option value="Yes">Yes</option>
										<option value="No">No</option>
									</select>
								</div>
								<div class="col-xs-6">
									<br />
									<label for="wchrPref">
										<h4>Do you plan to bring your own Wheelchair?</h4>
									</label>
									<select class="form-control" id="wchrPref" name="wchrPref">
										<option value="Yes">Yes</option>
										<option value="No">No</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-6 wchrWeight">
									<br />
									<label for="wheelchairweight">
										<h4>Weight of Wheelchair (lbs/kg)</h4>
									</label>
									<input name="wheelchairweight" class="form-control" id="wheelchairweight" type="text" tabindex="4" value="@user.WheelChair.Weight">
								</div>
								<div class="col-xs-6 wchrType">
									<br />
									<label for="wheelchairtype">
										<h4>Type of Wheelchair</h4>
									</label>
									<input name="wheelchairtype" class="form-control" id="wheelchairtype" type="text" tabindex="5" value="@user.WheelChair.Type">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-3">
									<br />
									<label for="length">
										<h4>Length</h4>
									</label>
									<input id="length" class="form-control" type="text" name="length" tabindex="6" value="@user.WheelChair.Length">

								</div>

								<div class="col-xs-3">
									<br />
									<label for="width">
										<h4>Width</h4>
									</label>
									<input id="width" class="form-control" type="text" tabindex="7" name="width" value="@user.WheelChair.Width">

								</div>

								<div class="col-xs-3">
									<br />
									<label for="height">
										<h4>Height</h4>
									</label>
									<input id="height" class="form-control" type="text" tabindex="8" name="height" value="@user.WheelChair.Height">

								</div>
								<div class="col-xs-3">
									<br /><br /><br />
									<input type="radio" selected style="margin-bottom: 1px;" id="inchUnit" name="units" value="inchUnit">
									<label for="inchUnit" style="margin-bottom: 1px;">Inches</label><br />
									<input type="radio" style="margin-bottom: 1px;" id="cmUnit" name="units" value="cmUnit">
									<label for="cmUnit" style="margin-bottom: 1px;">Cms</label><br>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-6">
									<br />
									<label>
										<h4>Battery Type</h4>
									</label>
									<br />
									<input type="checkbox" name="wetCellCheckBox" id="wetCellCheckBox" value="wetcell" tabindex="9">&nbsp;Wet Cell / Acid (Spill-able)<br>

									<input type="checkbox" name="dryCellCheckBox" id="dryCellCheckBox" value="drycell" tabindex="10">&nbsp;Dry Cell / Gel (Non-Spill-able)<br>

									<input type="checkbox" checked="checked" name="lithiumCheckBox" id="lithiumCheckBox" value="lithium" tabindex="11">&nbsp;Lithium<br />
								</div>

							</div>
						</div>

						<div class="form-group noQues">
							<div class="col-xs-12">
								<br />
								<h4>Are you interested in joining Buddy Connect program?</h4>
								<input type="radio" id="yesCareTaker" name="buddy" value="YesCareTaker">
								<label for="yesCareTaker">Yes</label><br>
								<input type="radio" id="noCareTaker" name="buddy" value="NoCareTaker">
								<label for="noCareTaker">No</label><br>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<br>
								<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
								<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
							</div>
						</div>
					</form>

				</div><!--/tab-pane-->
				<div class="tab-pane" id="addressPane">
					<form class="form colorWhite" action="##" method="post" id="homeAddressForm">

						<div class="form-group">
							<div class="col-xs-6">
								<label for="address">
									<h4>Address</h4>
								</label>
								<input type="text" class="form-control" name="address" id="address" placeholder="Address" title="enter your address." value="3111 Ala Napunaa Street">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="address2">
									<h4>Address 2</h4>
								</label>
								<input type="text" class="form-control" name="address2" id="address2" placeholder="Address line 2" title="enter your address line no 2." value="Apt 609">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="city">
									<h4>City</h4>
								</label>
								<input type="text" class="form-control" name="city" id="city" placeholder="City" title="City" value="Honolulu">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="zip">
									<h4>Zip code</h4>
								</label>
								<input type="text" class="form-control" name="zip" id="zip" placeholder="Zip Code" title="Zip Code" value="96819">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="state">
									<h4>State</h4>
								</label>
								<input type="text" class="form-control" name="state" id="state" placeholder="State" title="State" value="Hawaii">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="Country">
									<h4>Country</h4>
								</label>
								<select class="form-control" id="Country" name="Country">
									<option value="US" selected>United States of America</option>
									<option value="UK">United Kingdom</option>
									<option value="INDIA">India</option>
									<option value="JAPAN">Japan</option>
									<option value="CHINA">China</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<br>
								<button class="btn btn-lg btn-success pull-left" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
								<!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
							</div>
						</div>
					</form>
				</div><!--/tab-pane-->
			</div><!--/tab-content-->
		</div><!--/col-9-->
	</div><!--/row-->
</div>