@using buddy_connect.Models
@{
    ViewBag.Title = "Profile";
    ProfileViewModel user = Model;
}
<style>
    .bgProfile {
        background: rgba(0, 0, 0, 0.7);
        margin-top: 15px;
        border-radius: 6px;
    }

    h3.username {
        color: #ffffff;
        padding: 5px;
    }


    .colorWhite {
        color: #ffffff;
    }

    .labels {
        font-size: 20px;
    }

    .values {
        font-size: 20px;
    }

    .membership {
        font-size: 25px;
        color: orange;
    }

    .miles {
        font-size: 15px;
        color: rgb(223, 185, 135);
    }

    .form-control[disabled] {
        background-color: rgb(161, 161, 161);
        font-size: 15px;
    }

    .nav-tabs :not(.active) {
        color: #ffffff;
        font-weight: bold;
    }

    .yesQues, .noQues {
        display: none;
    }

    .submit-btn {
        color: #fff;
        background-color: #f23e3e;
        font-weight: 400;
        height: 40px;
        font-size: 14px;
        border: none;
        width: 200px;
        border-radius: 20px;
        text-transform: uppercase;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

</style>

<script>
	var isAssistanceRequired = "@user.IsDisabled";
	$(function() {
		$(":radio[value=YesSpecial]").click(function() {
			$('.yesQues').show();
			$('#splServ').val = "Yes";
			$('#wchrPref').val = "Yes";
			$(":radio[value=inchUnit]").click();
			$('.noQues').hide();
		});

		$(":radio[value=NoSpecial]").click(function() {
			$('.noQues').show();
			$(":radio[value=YesCareTaker]").click();
			$('.yesQues').hide();
		});

		if (isAssistanceRequired === "True") {
			$(":radio[value=YesSpecial]").click();
			$('#splServ').val = "Yes";
			$('#wchrPref').val = "Yes";
			$(":radio[value=inchUnit]").click();

		} else {
			$(":radio[value=NoSpecial]").click();
			$(":radio[value=YesCareTaker]").click();
		}
	});
</script>


<div class="bgProfile">

    <div class="row pt-5">
        <div class="col-3">
            <!--left col-->
            <div class="text-center">
                <img src="~/assets/img/@(ViewBag.ProfileUserName).jpg" style="height: 200px; width: 200px;" class="rounded-circle img-thumbnail" alt="avatar">
            </div>
            <div class="text-center">
                <br />
                <div class="membership">@user.Membership</div>
                <div class="miles">@user.Miles miles</div>
            </div>




        </div><!--/col-3-->
        <div class="col-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#profile">Personal Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#pref">Travel Preferences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#addressPane">Saved Addresses</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content pt-3">
                <div class="tab-pane fade show active" id="profile">
                    <form class="form colorWhite" action="#" method="post" id="registrationForm">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="first_name">
                                        First name
                                    </label>
                                    <input type="text" disabled="disabled" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name" value="@user.FirstName">

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="gender">
                                        Gender
                                    </label>
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="male" selected>Male</option>
                                        <option value="female">Female</option>
                                        <option value="unspecified">Unspecified</option>
                                        <option value="undisclosed">Undisclosed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="middle_name">
                                        Middle name
                                    </label>
                                    <input type="text" disabled="disabled" class="form-control" name="middle_name" id="middle_name" placeholder="first name" title="enter your middle name if any." value="@user.MiddleName">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="email">
                                        Date of Birth
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email." value="@user.DateOfBirth">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">

                                    <label for="last_name">
                                        Last name
                                    </label>
                                    <input type="text" disabled="disabled" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name" value="@user.LastName">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">

                                    <label for="suffix">
                                        Suffix
                                    </label>
                                    <select class="form-control" id="suffix" name="suffix">
                                        <option value="Jr" selected>Jr</option>
                                        <option value="Sr">Sr</option>
                                        <option value="II">II</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">

                                    <label for="phone">
                                        Mobile
                                    </label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any." value="@user.PhoneNumber">

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="email">
                                        Email
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email." value="@user.Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <button class="btn btn submit-btn" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="pref">
                    <form class="form colorWhite" action="##" method="post" id="registrationForm">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="last_name">
                                        Seat Preference
                                    </label>
                                    <select class="form-control" id="seatpref" name="seatpref">
                                        <option value="window">Window</option>
                                        <option value="aisle" selected>Aisle</option>
                                        <option value="middle">Middle</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">

                                    <label for="last_name">
                                        Home Airport
                                    </label>
                                    <input type="text" class="form-control" name="homeAirport" id="homeAirport" placeholder="Home Airport" title="enter your last name if any." value="Honolulu (SEA)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="phone">
                                        Known traveler Number
                                    </label>
                                    <input type="text" class="form-control" name="ktn" id="ktn" placeholder="Known traveler Number" title="enter your KTN if any">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="mobile">
                                        Redress Number
                                    </label>
                                    <input type="text" class="form-control" name="Redress Number" id="Redress Number" placeholder="Redress Number" title="enter your Redress Number if any.">
                                </div>
                            </div>
                        </div>
	                    <div style="width: 100%">
		                    @Html.Partial("_SpecialService")
	                    </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <button class="btn btn submit-btn" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="addressPane">
                    <form class="form colorWhite" action="##" method="post" id="homeAddressForm">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="address">
                                        Address
                                    </label>
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" title="enter your address." value="@user.AddressInfo.Address">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="address2">
                                        Address 2
                                    </label>
                                    <input type="text" class="form-control" name="address2" id="address2" placeholder="Address line 2" title="enter your address line no 2." value="@user.AddressInfo.Address2">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city">
                                        City
                                    </label>
                                    <input type="text" class="form-control" name="city" id="city" placeholder="City" title="City" value="@user.AddressInfo.City">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="zip">
                                        Zip code
                                    </label>
                                    <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip Code" title="Zip Code" value="@user.AddressInfo.Zip">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="state">
                                        State
                                    </label>
                                    <input type="text" class="form-control" name="state" id="state" placeholder="State" title="State" value="@user.AddressInfo.State">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Country">
                                        Country
                                    </label>
                                    <select class="form-control" id="Country" name="Country">
                                        <option value="US" selected>United States of America</option>
                                        <option value="UK">United Kingdom</option>
                                        <option value="INDIA">India</option>
                                        <option value="JAPAN">Japan</option>
                                        <option value="CHINA">China</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <button class="btn submit-btn" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
</div>