<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <style type="text/css">
        nav a {
            font-size: 20px;
        }

        .bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
            border-right-color: rgba(0, 0, 0, 0.7) !important;
        }

        .popover-header {
            background-color: rgba(0, 0, 0, 0.7) !important;
            color: #fff !important;
        }

        .popover-content {
            background: #fff !important
        }
    </style>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background: rgba(0, 0, 0, 0.7) !important; border-radius: 10px;">
        <a class="navbar-brand" href="#">
            <img src="~/assets/img/logo.png" alt="logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/booking">Book <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Trips/upcomingTrips">Manage Trips</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile Settings</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 2px">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a href="~/Login">Sign In</a></li>
                }
                else
                {
                    <li>
                        <div class="text-white-50" style="font-size: 20px">
                            Welcome <b class="text-white">@User.Identity.Name</b>
                            <div class="text-right">
                                <a href="~/Login/Logout" style="font-size: 14px; text-decoration: underline">Sign Out</a>
                            </div>
                        </div>

                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p><b>&copy; @DateTime.Now.Year - TATA VistaRa Airlines. All Rights Reserved</b></p>
    </footer>
</div>


@RenderSection("scripts", required: false)
</body>
</html>
